$screenSize: (
  lg: 1120px,
  md: 768px,
  sm: 500px
);
@mixin mq($breakpoint: md) {
  @media (width > map-get($screenSize,$breakpoint)) {
    @content;
  }
}

@mixin even-column {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 5vh;

  @include mq() {
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    gap: 5vw;
  }
}

.icon {
  font-size: inherit;
  color: inherit;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next,
#__nuxt {
  isolation: isolate;
}

button,
[type="button"],
[role="button"] {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--header-height);
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vh;
}

:root {
  scrollbar-color: gray;
  scrollbar-width: 5px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.section-heading {
  margin-bottom: var(--size-4);

  font-size: var(--size-7);
  line-height: 1;

  @include mq() {
    font-size: var(--size-9);
    margin-bottom: var(--size-6);
  }

  @include mq(lg) {
    font-size: var(--size-12);
  }
}

section,
footer {
  .wrapper {
    padding-block: var(--size-12);

    @include mq() {
      padding-block: var(--size-20);
    }
  }
}

.small {
  font-size: 0.5em;
}
.large {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}

:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;
  --size-17: 4.25rem;
  --size-18: 4.5rem;
  --size-19: 4.75rem;
  --size-20: 5rem;
  --size-21: 5.25rem;
  --size-22: 5.5rem;
  --size-23: 5.75rem;
  --size-24: 6rem;
  --size-25: 6.25rem;
  --size-26: 6.5rem;
  --size-27: 6.75rem;
  --size-28: 7rem;
  --size-29: 7.25rem;
  --size-30: 7.5rem;
  --size-31: 7.75rem;
  --size-32: 8rem;
  --size-33: 8.25rem;
  --size-34: 8.5rem;
  --size-35: 8.75rem;
  --size-36: 9rem;

  --header-height: 80px;

  --background: #fafafa;
  --text: #050505;
  --secondary: #e0e2da;
}

main:not([data-no-js="true"]) .load-on-scroll {
  opacity: 0;
  transform: translateY(var(--size-8));
  transition-property: opacity, transform;
  transition-duration: 300ms, 500ms;
  transition-timing-function: ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0.25s;
}

main:not([data-no-js="true"]) .is-visible {
  opacity: 1;
  transform: translateY(0);
}

.container {
  --max-width: 1120px;
  width: min(calc(100% - 3rem), var(--max-width));
  margin-inline: auto;

  &--large {
    --max-width: 1368px;
  }
  &--small {
    --max-width: 960px;
  }
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--background);
  color: var(--text);

  scroll-padding-top: var(--header-height);
}

.nav {
  &-list {
    display: flex;
    align-items: center;
    gap: 3.5vw;

    list-style: none;
    padding-left: 0;

    font-size: clamp(1rem, calc(0.1rem + 3vw), 1.25rem);
  }
  &-link {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 0.1em;
      width: 102%;
      top: 100%;
      left: 50%;
      translate: -50% 0;
      background-color: var(--text);
      transform-origin: center center;
      scale: 0;
      transition: scale 350ms ease;
    }
    &:hover::after {
      scale: 1;
    }
  }
}

.header {
  box-shadow: 0 1px 0.1rem hsl(0 0% 0% / 0.1);
  background-color: var(--background);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--header-height);
  }

  &-img-block {
    width: 60px;
    aspect-ratio: 1;
    background-color: var(--text);
    border-radius: 0.25rem;
  }
}

.hero {
  .wrapper {
    padding-block: var(--size-10) var(--size-20);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-cta {
    color: inherit;
    text-decoration: none;

    margin-inline: auto;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 3rem;
    border: 1px solid var(--text);

    position: relative;
    transition: color 350ms ease;
    isolation: isolate;
    border-radius: 0.25rem;

    @include mq() {
      font-size: var(--size-6);
    }

    .icon {
      font-size: var(--size-8);
    }

    &::before {
      content: "";
      color: var(--background);
      display: flex;
      align-items: center;
      font-size: inherit;
      justify-content: center;
      position: absolute;
      inset: 0;
      background: var(--text);
      transform-origin: left center;
      z-index: -1;
      // max-width: 50%;
      transform: scaleX(0);
      transition: transform 350ms ease;
    }
    &:hover,
    &:focus-visible {
      color: var(--background);
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

.name {
  padding: clamp(1rem, 5vw, 2rem);

  width: -webkit-fit-content;

  width: -moz-fit-content;

  width: fit-content;
  margin-inline: auto;
  font-size: min(7rem, 11vw);

  &-container {
    position: relative;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 0;

      // translate: -15% 15%;

      background: radial-gradient(#00000099 7.5%, transparent 7.5%);
      background-position: 0% 0%;
      background-size: 2.5rem 2.5rem;
      opacity: 0;
      z-index: 2;
      transition:
        background-position 500ms ease,
        opacity 500ms ease;
    }

    &:hover::before {
      background-position: -15% 0;

      opacity: 1;
    }
  }
}

.word-container {
  overflow: hidden;
  height: 1.3em;
}
.word {
  translate: 0 125%;
  -webkit-animation: name-popup 500ms calc(5s + var(--delay) * 100ms) cubic-bezier(0.71, 0.68, 0.57, 1) forwards;
  animation: name-popup 500ms calc(5s + var(--delay) * 100ms) cubic-bezier(0.71, 0.68, 0.57, 1) forwards;
}
.word-container:nth-child(n + 2) {
  margin-left: 2ch;
  line-height: 1.2;
  font-weight: 800;
}
.word-container:nth-child(2) {
  margin-top: 2rem;
}

@-webkit-keyframes name-popup {
  from {
    translate: 0 125%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes name-popup {
  from {
    translate: 0 125%;
  }
  to {
    translate: 0 0;
  }
}

/***** About *****/
.about {
  background-color: var(--secondary);

  .container {
    min-width: 100%;

    @include mq(lg) {
      // --max-width:1120px;
      min-width: auto;
    }
  }

  .wrapper {
    padding-block: 0;
    display: grid;

    @include mq() {
      padding-block: 0;
      grid-template-columns: auto auto;
      gap: var(--size-12);
    }
  }

  &-img {
    aspect-ratio: 1 / 1;
    max-height: 500px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

    @include mq() {
      max-height: none;
      width: auto;
      height: 100%;
    }
  }

  &-content {
    padding-block: var(--size-8);
    padding-inline: var(--size-6);

    @include mq() {
      order: -1;
      padding-block: var(--size-12);
    }

    @include mq(lg) {
      padding-inline: 0;
      font-size: var(--size-5);
    }
  }

  &-text {
    margin-top: 1em;

    @include mq() {
      max-width: 45ch;
    }
  }
}
/***** End About *****/

/***** Skills *****/

.skills {
  &-content {
    @include even-column();
    grid-auto-rows: auto;
  }
  &-graph {
    display: grid;
    gap: var(--size-4);

    grid-auto-flow: row;
    grid-auto-rows: auto;

    opacity: 1 !important;
    transform: translateY(0) !important;

    &-note {
      opacity: 0.6;
      font-size: 1.25em;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-bar-container {
    margin-top: var(--size-1);
    height: var(--size-4);
    border-radius: 9999px;
    width: 100%;
    background-color: hsl(0 0% 85%);
  }
  &-bar {
    height: 100%;
    width: 100%;
    -webkit-animation: 0;
    animation: 0;
    border-radius: 9999px;
    background-color: hsl(31, 100%, 59%);
    transform-origin: left center;
    transform: scaleX(0);

    transition: transform 500ms calc(var(--delay) * 100ms) ease;

    .skills-graph.expand-on-scroll & {
      transform: scaleX(calc(var(--_percent) / 100));
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);

    margin-top: var(--size-4);

    font-size: var(--size-12);
    line-height: 1.2;

    // color: ;
    opacity: 0.7;
    @include mq() {
      font-size: var(--size-16);
      line-height: 1.3;
    }

    &-heading {
      font-size: 1.25em;
    }
  }
}

/***** End Skills *****/

/***** Projects *****/
.projects {
  background-color: var(--secondary);

  &-subtitle {
    max-width: 45ch;
    font-size: 1.2em;
    margin-bottom: var(--size-6);
  }

  &-list {
    // List Defaults
    list-style: none;
    padding-left: 0;

    display: grid;

    margin-top: 4rem;

    gap: 7.5vmax;
  }
  &-project {
    @include even-column();

    grid-auto-rows: auto;

    &-img {
      border-radius: var(--size-2);
      box-shadow:
        5px 5px #b2b2b1,
        -5px -5px 5px #9e9e9e1a;

      -o-object-fit: cover;

      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.75rem;

      @include mq(lg) {
        font-size: var(--size-5);
      }
    }

    &-name {
      font-size: clamp(1.5rem, 0.01rem + 4vw, 1.75rem);
    }
    &-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include mq() {
        flex-direction: row;
      }

      > * {
        padding: 1rem 2rem;
        font-weight: 700;
        text-align: center;
        border-radius: var(--size-1);
        box-shadow:
          0 10px 15px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -4px rgba(0, 0, 0, 0.1);

        &:active {
          translate: 0 3px;
        }
      }
    }
    &-live {
      background-color: var(--text);
      color: var(--background);
    }
    &-repo {
      border: 1px solid var(--text);
    }
  }
}

/***** End Projects *****/

/***** Resume *****/

.resume {
  @include mq(lg) {
    font-size: var(--size-5);
  }

  .wrapper {
  }
  &-content {
    @include even-column();
    grid-auto-rows: auto;
    align-items: center;
  }
  &-button {
    display: inline-block;

    margin-top: 1rem;
    border-radius: var(--size-1);
    padding: 1rem 2rem;
    width: 100%;

    font-weight: 700;
    background-color: var(--text);
    color: var(--background);
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);

    text-align: center;

    @include mq() {
      width: auto;
    }

    &:active {
      translate: 0 3px;
    }
  }
  &-illustration {
    height: 300px;
    margin-inline: auto;

    order: -1;

    @include mq() {
      order: 0;
    }
  }
}

/***** End Resume *****/

/***** Contact Me *****/
.cta {
  background-color: var(--secondary);

  &-content {
    @include even-column();
    grid-auto-rows: auto;
    align-items: center;

    @include mq(lg) {
      font-size: var(--size-5);
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    > * {
      width: 100%;
      padding: 1rem 2rem;
      text-align: center;
      color: var(--background);

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--size-1);

      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

      gap: 1ch;

      &:active {
        translate: 0 3px;
      }

      .icon {
        font-size: 2em;
      }

      @include mq() {
        max-width: 400px;
      }
    }
  }
  &-linkedin {
    background-color: #0a66c2;
  }
  &-mail {
    background-color: #ea4335;
  }
}
/***** End Contact Me *****/

/***** Footer *****/
.footer {
  text-align: center;

  .wrapper {
    padding-block: var(--size-8);
    @include mq() {
      font-size: var(--size-5);
      padding-block: var(--size-12);
    }
  }
}
/***** End Footer *****/
